*
    padding: 0
    margin: 0
    box-sizing: border-box

body
    background: #262626

#app
    height: 100vh
    padding: 2rem
    color: beige
    font-family: Arial, Helvetica, sans-serif
    user-select: none
    -webkit-user-select: none

.counters
    display: grid
    gap: 2rem
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr))

$button-color: #f4d1e1

.button
    position: relative
    -webkit-user-select: none
    user-select: none
    cursor: pointer
    touch-action: manipulation
    -webkit-tap-highlight-color: rgba(0,0,0,0)
    transition: all 200ms ease-out
    background: $button-color
    box-shadow: 0rem 0.4rem 0rem darken(white, 20%)
    border: 1rem solid white
    border-radius: 1.2rem
    overflow: hidden

    display: flex
    align-items: center
    justify-content: center

    &.holding
        box-shadow: 0rem 0.2rem 0rem darken(white, 20%)
        transform: translateY(0.2rem)

        &:not(.done) .custom-meter2
            opacity: 1
            transform: translateY(0rem) scale(1)

    &.done
        background: desaturate($button-color, 20%)

        .icon
            opacity: 0
            transform: scale(0)

.icon
    transition: all 200ms
    width: 100%

// CUSTOM METER

$tooltip-color: white

.custom-meter2
    opacity: 0
    position: absolute
    bottom: 100%
    width: 100%
    height: 1rem
    background-color: $tooltip-color
    padding: 0.25rem
    border-radius: 0.5rem
    transition: all 300ms cubic-bezier(0.34, 1.56, 0.64, 1)
    filter: drop-shadow(0rem 0.15rem 0rem darken(white, 20%)) drop-shadow(0rem 0rem 0.75rem black)
    transform: translateY(2rem) scale(0.5)

    progress[value]
        display: block
        -webkit-appearance: none
        -moz-appearance: none
        appearance: none
        outline: none
        border: none
        width: 100%
        height: 100%
        border-radius: 0.3rem
        background: rgba(0, 0, 0, 0.1)

        &::-webkit-progress-bar, &::-moz-progress-bar
            background: $button-color

    &::after
        content: " "
        position: absolute
        top: 100%
        left: 50%
        margin-left: -0.3rem
        border-width: 0.3rem
        border-style: solid
        border-color: $tooltip-color transparent transparent transparent

svg
    width: 100%

@keyframes sway-horizontal
    0%
        transform: translateX(0)
    25%
        transform: translateX(-50px)
    75%
        transform: translateX(50px)
    0%
        transform: translateX(0)
@keyframes sway-vertical
    0%
        transform: translateY(0)
    25%
        transform: translateY(-50px)
    75%
        transform: translateY(50px)
    0%
        transform: translateY(0)
@keyframes sway-diagonal
    0%
        transform: translate(0, 0)
    25%
        transform: translate(-50px, -50px)
    75%
        transform: translate(50px, 50px)
    0%
        transform: translate(0, 0)

$sway-duration: 20000ms

.blob
    fill: white
    circle:nth-child(1)
        animation: sway-horizontal $sway-duration linear infinite
    circle:nth-child(2)
        animation: sway-vertical $sway-duration linear 1000ms infinite
    circle:nth-child(3)
        animation: sway-diagonal $sway-duration linear 2000ms infinite
