// RESET
*
    padding: 0
    margin: 0
    box-sizing: border-box

button
    touch-action: manipulation

// PALETTE
$spacing-small: 0.5rem
$spacing-medium: 1rem
$spacing-large: 2rem

// STYLES
body
    background: #8dd3a5

#app
    font-family: Helvetica, Arial, sans-serif
    color: beige
    display: grid
    gap: $spacing-small
    grid-template-columns: repeat(3, minmax(5rem, 1fr))
    max-width: 40rem
    margin: 0 auto
    padding: 5%

.tile
    border-radius: $spacing-medium
    display: block
    background: #6ab985
    border: none
    border-bottom: 1px solid #cbf6da
    color: beige
    aspect-ratio: 1/1
    font-size: 1.2rem
    transition: all 200ms ease-out

    &.zero
        opacity: 0
        transform: scale(0)

    &:active
        transform: scale(0.97)
        background: #c7efd5

.add-island
    place-self: center
    font-size: 1rem
    padding: $spacing-medium
