*
    padding: 0
    margin: 0
    box-sizing: border-box

body
    background: #262626

#app
    height: 100vh
    display: flex
    flex-direction: column
    // justify-content: center
    align-items: center
    gap: 1rem
    padding: 1rem
    color: beige
    font-family: Arial, Helvetica, sans-serif
    user-select: none
    -webkit-user-select: none

.counters
    display: grid
    gap: 1rem
    grid-template-columns: repeat(3, minmax(5rem, 1fr))

$button-color: #b06297

.button
    position: relative
    -webkit-user-select: none
    user-select: none
    padding: 0.5rem
    margin-bottom: 0.4rem
    // border: none
    // border-bottom: 1px solid lighten($button-color, 30%)
    font-size: 1.5rem
    color: #8e907e
    transition: all 200ms ease-out
    touch-action: manipulation
    -webkit-tap-highlight-color: rgba(0,0,0,0)
    background: $button-color
    box-shadow: 0rem 0.4rem 0rem darken(white, 20%)
    border: 0.3rem solid white

    display: flex
    align-items: center
    justify-content: center

    border-radius: 1rem
    // &.extract
    //     .custom-meter
    //         border-radius: 0.5rem
    // &.deposit
    //     border-radius: 50%
    //     .custom-meter
    //         border-radius: 50%
    // &.selected
    //     box-shadow: 0rem 0.4rem 0rem darken(desaturate($button-color, 50%), 30%)

    &.holding
        box-shadow: 0rem 0.2rem 0rem darken(white, 20%)
        transform: translateY(0.2rem)

        .custom-meter2
            opacity: 1
            transform: translateY(0rem) scale(1)

    // &.done
    //     opacity: 0
    //     transform: scale(0)

// CUSTOM METER

$tooltip-color: white

.custom-meter2
    opacity: 0
    transform: translateY(2rem) scale(0.5)
    width: 80%
    background-color: $tooltip-color
    padding: 0.25rem
    border-radius: 0.5rem
    transition: all 200ms cubic-bezier(0.34, 1.56, 0.64, 1)
    filter: drop-shadow(0rem 0.15rem 0rem darken(white, 20%))

    position: absolute
    bottom: 95%

    &::after
        content: " "
        position: absolute
        top: 100%
        left: 50%
        margin-left: -0.3rem
        border-width: 0.3rem
        border-style: solid
        border-color: $tooltip-color transparent transparent transparent

    .bar
        height: 0.5rem
        background: linear-gradient(#ffeb34, orange)
        border-radius: 0.3rem

.icon
    width: 100%
// .custom-meter
//     width: 100%
//     height: 100%
//     background: rgba(0, 0, 0, 0.2)
//     // border-radius: inherit
//     overflow: hidden
//     display: flex
//     flex-direction: column
//     justify-content: flex-end
//     position: relative
//     aspect-ratio: 1/1

//     .bar
//         background: linear-gradient(#ffeb34, orange)
//         border-radius: 0.2rem

//     .icon
//         position: absolute
//         transition: all 200ms ease-out
//         filter: sepia(20%) saturate(90%)
